*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* ----------------------------------COLORS ------------------------------ */
  --bg-yellow: hsl(47, 88%, 63%);
  --text-gray-950: hsl(0, 0%, 7%);
  --text-gray-500: hsl(0, 0%, 42%);
  --text-white: hsl(0, 0%, 100%);

  /* ------------------------------typography -------------------------------- */
  @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

  --letter-spacing-300: 24px;
  --letter-spacing-150: 12px;
  --letter-spacing-100: 8px;
  --letter-spacing-50: 4px;
}

/* -------------------------------- PRESETS -----------------------------------*/
.figtree-preset-1 {
  font-family: 'Figtree', sans-serif;
  font-size: 24px;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0;
}

.figtree-preset-2 {
  font-family: 'Figtree', sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0;
}

.figtree-preset-3 {
  font-family: 'Figtree', sans-serif;
  font-size: 14px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0;
}

.figtree-preset-3-bold {
  font-family: 'Figtree', sans-serif;
  font-size: 14px;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0;
}

body {
  line-height: 1.3;
  font-size: 16px;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-yellow);
}

.wrapper {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: min(calc(327 / 16 * 1rem), calc(384 / 16 * 1rem));
  height: min(calc(501 / 16 * 1rem), calc(522 / 16 * 1rem));
  margin-inline: auto;
}

.wrapper img {
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;

  width: min(calc(279 / 16 * 1rem), calc(522 / 16 * 1rem));
  /* height: min(501 / 16 * 1rem), calc(522 / 16 * 1rem); */
  margin-inline: auto;
  margin-top: 24px;
}

.learning {
  background-color: var(--bg-yellow);
  border-radius: 4px;

  margin-left: 1.5rem;
  padding: 0.5rem 1rem;
  width: 30%;
}

.date {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  width: 75%;
}

.title {
  margin-left: 1.5rem;
  width: 100%;
}

.description {
  margin-left: 1.5rem;
  width: 85%;
}

.author__info {
  border: 1px solid transparent;
  background-color: hsl(0, 0%, 100%);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.author__info .img {
  height: 35px;
  width: 35px;
  line-height: 35px;

  margin-left: 1rem;
  margin-bottom: 2rem;
}

.figtree-preset-3-bold .author {
  background-color: green;
  margin-left: 2rem;
  text-align: left;
}
