/* reset */
:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 100%;

  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
}

html,
body {
  height: 100%;
}

body {
  --Family: [Figtree](https://fonts.google.com/specimen/Figtree);
  --Weights: 500, 800;
  background-color: var(--Yellow);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container__main {
  background-color: var(--White);
  border: 2px solid black;
  border-radius: 0.3rem;
  width: calc(20% + 2rem);
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.container__main img {
  border-radius: 0.5rem;
  object-fit: cover;
  padding: 0.8rem;
}

.btn {
  background-color: var(--Yellow);
  border: transparent;
  border-radius: 0.3rem;
  font-size: 0.5rem;
  font-weight: bold;
  margin-left: 10px;
  padding: 0.3rem;
  width: calc(20% + 2rem);

  align-self: flex-start;
  justify-content: center;
}

.date {
  font-size: 0.6rem;
  font-weight: var(--Gray-950);
  align-self: flex-start;
  margin-left: 10px;
}

h1 {
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
  margin-left: 10px;

  align-self: flex-start;
  justify-self: flex-start;
}
h1:hover {
  cursor: pointer;
}

.description__short {
  font-size: 0.5rem;
  align-self: flex-start;
  margin-left: 10px;
  max-width: fit-content;
}

.footer {
  border: 1px solid black;
  box-shadow: 2px 2xp 2px 2px;

  display: flex;
  flex-direction: row;
}

.footer img {
  border-radius: 50%;
  object-fit: cover;
  height: 25px;
  width: 25px;

  align-self: flex-start;
}

.footer .author {
  font-size: 0.5rem;
  font-weight: bold;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
